<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wish_list.user %>
</p>

<p>
  <strong>Item:</strong>
  <%= @wish_list.item %>
</p>

<%= link_to 'Edit', edit_wish_list_path(@wish_list) %> |
<%= link_to 'Back', wish_lists_path %>
