<h1>Home</h1>
<p> Hello <%= @current_user %>!! </p>
<br>
<p> You are part of the below swaps. Click a swap to see more info.</p>
    <% @swaps.each do |swap| %>
        <h3><%= link_to swap.swap_description, swap_path(swap) %></h3>
    <% end %>



<br>
<% if @current_user.organizer %>
  <p> Create a swap to make a swap. </p>
  <%= button_to 'Create a Swap', new_swap_path, method: :get %>
<%end%>

<br>
 <p>Join a swap to add yourself to any swaps that either you or your friends have created. </p>
<br>
  <%= link_to '<button type="button">Add yourself to a Swap</button>'.html_safe, new_membership_path %>

  <br><br>
  <p> Click the buttons below to view your wishlist or add items to your wishlist for the holidays! </p>
  <%= link_to '<button type="button">View your wishlist</button>'.html_safe, wish_lists_path %>
  <br><br>
  <%= link_to '<button type="button">Add items to your wishlist</button>'.html_safe, new_wish_list_path %>
