<p id="notice"><%= notice %></p>

<h3> Your itmes </h3>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @item.link %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
