<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @swap.location %>
</p>

<p>
  <strong>When:</strong>
  <%= @swap.when %>
</p>

<p>
  <strong>Swap description:</strong>
  <%= @swap.swap_description %>
</p>

  <p>
  <strong>Users in this Swap:</strong><br>



 <%= render 'userlist' %> <br> <br>  </p>
<% if @swap.is_owner?(@current_user) %>
<p>Click this button when everyone in your swap has joined to assign Secret Santas! <br>
   Each user will be able to see their assigned person when they log into the app.</p>
<%= button_to "Assign Secret Santas", autoassign_swap_path(@swap)%>
<%end%>

<h3>Your Recipient!</h3>
<%= render 'recipient' %>


<h3>Your recipient's wishlist:</h3>
<%= render 'swapmembers' if @recipient%>

<%= link_to 'Edit', edit_swap_path(@swap) %> |
<%= link_to 'Back', swaps_path %>
