<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @swap.location %>
</p>

<p>
  <strong>When:</strong>
  <%= @swap.when %>
</p>

<p>
  <strong>Swap description:</strong>
  <%= @swap.swap_description %>
</p>


<%= render 'userlist' %> <br> <br>


<%= button_to "Assign Recipients", autoassign_swap_path(@swap)%>

<%= render 'recipient' %>

<%= link_to 'Edit', edit_swap_path(@swap) %> |
<%= link_to 'Back', swaps_path %>

<ul>
  <% @swap.recipients.each do | recipient | %>
    <li><%= recipient.user %> => <%= recipient.recipient %></li>
  <% end %>
</ul>
